
p {
    font-size: 20px;
    font-weight: bold;
    padding-left: 15%;
    padding-right: 15%;

}

body {
    background-color: #6d6d6d;
    background-image: url("dotaIcon.png");
    background-position: center;
    background-repeat: no-repeat, repeat;
    
 }

 .dotaImage {
    width: 500px;
    height: 500px;
    opacity: 0.5;
    background-position: center;
    background-repeat: no-repeat, repeat;
    background-image: url("dotaIcon.png"), 
    url("dotaIcon.png");
 }

 .startButton {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.title {
    text-align: center;
    color: rgb(107, 0, 0);
}

.hidden {
    display: none;
}

.strength {
    color: red;
    font-weight: bold;
}

.agility {
    color: rgb(0, 189, 0);
    font-weight: bold;
}

.inteligence {
    color: rgb(81, 127, 255);
    font-weight: bold;
}